---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchda5046a1-055d-4a87-bd18-d9f312af3c78@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741140'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '583'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"509-WZTqgOT4LlwexRuakzlmyQ+iIz4"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-Ae6THsUfXUafQVoMugH9vJ","referenceId":"R-Ae6THsUfXUafQVoMugH9vJ","parentRecipientId":null,"email":"test.batchda5046a1-055d-4a87-bd18-d9f312af3c78@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:45:40.592Z","createdAt":"2023-07-07T14:45:40.592Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/96a497694b8e7d339da17fd5a554c1ab?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:45:40 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-Ae6THsUfXUafQVoMugH9vJ/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688741140'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '582'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"291-R4B6WutZokM3yCLg9Kj0ccvX4x0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-0d9Zu9m848wPqyTxweQAxb","recipientId":"R-Ae6THsUfXUafQVoMugH9vJ","recipientAccountId":"A-0d9Zu9m848wPqyTxweQAxb","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:45:41 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-Ae6THsUfXUafQVoMugH9vJ","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741141'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '581'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"246-/Ez6vpB4VUUHGSGWFyGX4T1D6ko"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-Y3B3d1RexwPr8c5AACWzdc","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:45:42.016Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:45:42.015Z","updatedAt":"2023-07-07T14:45:42.015Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Ae6THsUfXUafQVoMugH9vJ","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:45:42 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688741142'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '580'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"22fd-8JwVa18fdQ2/+0wv2tw+hEf0q3U"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-Y3B3d1RexwPr8c5AACWzdc","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:45:42.016Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:45:42.015Z","updatedAt":"2023-07-07T14:45:42.015Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Ae6THsUfXUafQVoMugH9vJ","syncDetails":null},{"id":"I-KyBtB1G8BMQWBsDkqPcxSx","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:45:35.394Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:45:35.393Z","updatedAt":"2023-07-07T14:45:39.540Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-VNTkt2Yc5xcKFWPZG7B7vJ","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-YYzDLzqxLGzzmjg799e4CB","syncDetails":null},{"id":"I-WPxnDpA98RBkfFSuARC9kc","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"pending","externalId":null,"invoiceDate":"2023-07-07T14:45:29.111Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:45:29.110Z","updatedAt":"2023-07-07T14:45:31.918Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"2000.00"[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-Y3B3d1RexwPr8c5AACWzdc","lines":[{"unitAmount":{"value":"2000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688741142'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '579'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"467-QSYvZj5mB54tCrST0T6+cN[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/create
    body:
      encoding: UTF-8
      string: '{"ids":[{"invoiceId":"I-Y3B3d1RexwPr8c5AACWzdc"}]}'
    headers:
      X-Pr-Timestamp:
      - '1688741143'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '578'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"13b-oTvrVfCr45PAfcYHipixzSaqlpw"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayment":{"batchId":"B-YEB6tiEvqRBPuuYEvh1Jef","paymentId":"P-CmBTYcBm58Gqjvzojs1HBn","invoicePayments":[{"invoiceId":"I-Y3B3d1RexwPr8c5AACWzdc","invoiceLineId":"IL-GJD3MWDy8cREWJW366Dqo8","paymentId":"P-CmBTYcBm58Gqjvzojs1HBn","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}]}}'
  recorded_at: Fri, 07 Jul 2023 14:45:44 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-Y3B3d1RexwPr8c5AACWzdc"]}'
    headers:
      X-Pr-Timestamp:
      - '1688741144'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '577'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"104-zQYo1MgXcQT1+VcUEQpDqrzOtmw"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[{"invoiceId":"I-Y3B3d1RexwPr8c5AACWzdc","invoiceLineId":"IL-GJD3MWDy8cREWJW366Dqo8","paymentId":"P-CmBTYcBm58Gqjvzojs1HBn","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}],"meta":{"page":1,"pages":1,"records":1}}'
  recorded_at: Fri, 07 Jul 2023 14:45:45 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/update
    body:
      encoding: UTF-8
      string: '{"paymentId":"P-CmBTYcBm58Gqjvzojs1HBn","invoiceLineId":"IL-GJD3MWDy8cREWJW366Dqo8","amount":{"value":"5000","currency":"USD"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741145'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '576'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:45:45 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-Y3B3d1RexwPr8c5AACWzdc"]}'
    headers:
      X-Pr-Timestamp:
      - '1688741145'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '575'
      X-Rate-Limit-Reset:
      - '1688741188'
      Etag:
      - W/"104-moKu2/RlugQNTNqiJuZnp5SKnZU"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[{"invoiceId":"I-Y3B3d1RexwPr8c5AACWzdc","invoiceLineId":"IL-GJD3MWDy8cREWJW366Dqo8","paymentId":"P-CmBTYcBm58Gqjvzojs1HBn","amount":{"value":"5000.00","currency":"USD"},"status":"pending"}],"meta":{"page":1,"pages":1,"records":1}}'
  recorded_at: Fri, 07 Jul 2023 14:45:46 GMT
recorded_with: VCR 6.2.0
