---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch10fba7dc-b885-4eb3-9ebb-ca8c0300e099@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1697087923'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"509-rWqZLTZ5orhEqBkD2Q7C9/w63is"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-ShDq7tPBqw84dY3S5SiKN6","referenceId":"R-ShDq7tPBqw84dY3S5SiKN6","parentRecipientId":null,"email":"test.batch10fba7dc-b885-4eb3-9ebb-ca8c0300e099@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-10-12T05:18:38.023Z","createdAt":"2023-10-12T05:18:38.023Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/2aac37842b3fbad702f8d06143304cff?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Thu, 12 Oct 2023 05:18:44 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-ShDq7tPBqw84dY3S5SiKN6/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1697087924'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"291-jINn3tMcqBAn6Z27+bU7u6dldOA"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-UN4vGEDqL8budDxUBwFpMq","recipientId":"R-ShDq7tPBqw84dY3S5SiKN6","recipientAccountId":"A-UN4vGEDqL8budDxUBwFpMq","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Thu, 12 Oct 2023 05:18:44 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-ShDq7tPBqw84dY3S5SiKN6","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1697087924'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"246-JFVUeiXhxbLHODHyk+DLnV9Ijf4"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-BW2J4BPWaRzLYhSuKczqzp","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-10-12T05:18:38.988Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-10-12T05:18:38.987Z","updatedAt":"2023-10-12T05:18:38.987Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-ShDq7tPBqw84dY3S5SiKN6","syncDetails":null}}'
  recorded_at: Thu, 12 Oct 2023 05:18:45 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/get
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-BW2J4BPWaRzLYhSuKczqzp"}'
    headers:
      X-Pr-Timestamp:
      - '1697087925'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '596'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"246-JFVUeiXhxbLHODHyk+DLnV9Ijf4"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-BW2J4BPWaRzLYhSuKczqzp","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-10-12T05:18:38.988Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-10-12T05:18:38.987Z","updatedAt":"2023-10-12T05:18:38.987Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-ShDq7tPBqw84dY3S5SiKN6","syncDetails":null}}'
  recorded_at: Thu, 12 Oct 2023 05:18:45 GMT
recorded_with: VCR 6.2.0
