---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchf5fc8eb7-a0a2-43fb-b0b8-2b95db3f79b2@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1697087951'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '595'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"509-8/LFtFq9+vZ1tDwijQszbbNoPSQ"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-Ar3mXewepjvzGaLA1fMCTQ","referenceId":"R-Ar3mXewepjvzGaLA1fMCTQ","parentRecipientId":null,"email":"test.batchf5fc8eb7-a0a2-43fb-b0b8-2b95db3f79b2@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-10-12T05:19:05.376Z","createdAt":"2023-10-12T05:19:05.376Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/10e2813fdfe5079b32ee88e3b4dbd346?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Thu, 12 Oct 2023 05:19:11 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-Ar3mXewepjvzGaLA1fMCTQ/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1697087951'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '594'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"291-atpNvHZW0RnLqzpuPeP/8CzrQ2A"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-PXM5f2HNcQhQgrAPiDTvhV","recipientId":"R-Ar3mXewepjvzGaLA1fMCTQ","recipientAccountId":"A-PXM5f2HNcQhQgrAPiDTvhV","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Thu, 12 Oct 2023 05:19:11 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-Ar3mXewepjvzGaLA1fMCTQ","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1697087951'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '593'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"246-w0pltmb4BBwFqMrcznJGo4WJhz0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-CnysFrgHxXLrQMQs6xYiXJ","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-10-12T05:19:06.220Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-10-12T05:19:06.219Z","updatedAt":"2023-10-12T05:19:06.219Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Ar3mXewepjvzGaLA1fMCTQ","syncDetails":null}}'
  recorded_at: Thu, 12 Oct 2023 05:19:12 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1697087952'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1697087978'
      Etag:
      - W/"20e2-e7Stua5CgDnp1ZZl+oeHPeX+ty0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-CnysFrgHxXLrQMQs6xYiXJ","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-10-12T05:19:06.220Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-10-12T05:19:06.219Z","updatedAt":"2023-10-12T05:19:06.219Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"l[...]
