---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch79e254b7-c88e-402e-8754-cb1c9b1246a8@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741235'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '572'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"509-jisp+U5Sa4y4KqiGLMiKwSttH60"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-Mqbtiri4pkee6XgyLtEjok","referenceId":"R-Mqbtiri4pkee6XgyLtEjok","parentRecipientId":null,"email":"test.batch79e254b7-c88e-402e-8754-cb1c9b1246a8@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:47:15.426Z","createdAt":"2023-07-07T14:47:15.426Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/dbcbc3eaed7953a2e1d7c4d6b4dd75af?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:15 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-Mqbtiri4pkee6XgyLtEjok/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688741235'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '571'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"291-G9zn8Mxho02+C+9PWZ/2Pej6/Po"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-XEKQtDFpRUTjT2F6F8a1Su","recipientId":"R-Mqbtiri4pkee6XgyLtEjok","recipientAccountId":"A-XEKQtDFpRUTjT2F6F8a1Su","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:47:16 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-Mqbtiri4pkee6XgyLtEjok","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741236'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '570'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-eiTaZCu+UD0zpCRbGyFacVsPlvQ"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-GhjuMpPj6VMPwadAjDYKpY","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:16.543Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:16.543Z","updatedAt":"2023-07-07T14:47:16.543Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Mqbtiri4pkee6XgyLtEjok","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:16 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-GhjuMpPj6VMPwadAjDYKpY","lines":[{"unitAmount":{"value":"2000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688741236'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '569'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"467-fcC4cz11FNq8sCG9BFpt3vlo6hY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-GhjuMpPj6VMPwadAjDYKpY","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:16.543Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:16.543Z","updatedAt":"2023-07-07T14:47:17.012Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-HWK2UqqpDyxfHCjJ6BAjrm","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-Mqbtiri4pkee6XgyLtEjok","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:17 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/update-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-GhjuMpPj6VMPwadAjDYKpY","lines":[{"invoiceLineId":"IL-HWK2UqqpDyxfHCjJ6BAjrm","unitAmount":{"value":"3000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688741237'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '568'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"467-fCht0Tp87cNRe3Ssa26+1Bnu7TI"
  [...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/get
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-GhjuMpPj6VMPwadAjDYKpY"}'
    headers:
      X-Pr-Timestamp:
      - '1688741237'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '567'
      X-Rate-Limit[...]
