---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch23c77ea8-8c32-4398-a15b-094126037159@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741221'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '595'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"509-7ATneEuHRbG3AtqKdSY5fZbIZZw"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-83vmrPp4oKHKueHNqGEuHd","referenceId":"R-83vmrPp4oKHKueHNqGEuHd","parentRecipientId":null,"email":"test.batch23c77ea8-8c32-4398-a15b-094126037159@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:47:01.581Z","createdAt":"2023-07-07T14:47:01.581Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/94fcfb3acf9d004c29cd176d2d8afec1?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:01 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-83vmrPp4oKHKueHNqGEuHd/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688741221'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '594'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"291-yivlmpNvR+P3RWjSKKoUyc3Ke3Y"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-9u8oywUpRfPUx7xKzp4t6W","recipientId":"R-83vmrPp4oKHKueHNqGEuHd","recipientAccountId":"A-9u8oywUpRfPUx7xKzp4t6W","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:47:02 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-83vmrPp4oKHKueHNqGEuHd","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741222'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '593'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-2RbnVbmaLCwzmSm8YgQF9CqfH/M"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-2UBBLH53RAcgKeXDXqXfDU","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:02.540Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:02.539Z","updatedAt":"2023-07-07T14:47:02.539Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-83vmrPp4oKHKueHNqGEuHd","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:02 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-2UBBLH53RAcgKeXDXqXfDU","lines":[{"unitAmount":{"value":"2000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688741222'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"467-9XJoxplt7lc9tK7RS94TbDBJfvs"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-2UBBLH53RAcgKeXDXqXfDU","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:02.540Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:02.539Z","updatedAt":"2023-07-07T14:47:03.094Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-5u2cnXr2Gj3t7LKm97NAau","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-83vmrPp4oKHKueHNqGEuHd","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:03 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/get
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-2UBBLH53RAcgKeXDXqXfDU"}'
    headers:
      X-Pr-Timestamp:
      - '1688741223'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '591'
      X-Rate-Limit[...]
