---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchbaeecdc8-d1ae-44d6-9218-6388627112d8@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741223'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"509-myDCkpKl16UFNByTTvkiWIinTII"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-EVDPg6kasFtrTBgFbcDmwT","referenceId":"R-EVDPg6kasFtrTBgFbcDmwT","parentRecipientId":null,"email":"test.batchbaeecdc8-d1ae-44d6-9218-6388627112d8@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:47:04.041Z","createdAt":"2023-07-07T14:47:04.041Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/0182c030296267819e1f33c211a4c8c9?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:04 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-EVDPg6kasFtrTBgFbcDmwT/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688741224'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"291-k50h1RkAZ4Z3n+7sAp1PbiTuJTs"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-Umw8Q3tevJxaMSekZZUK45","recipientId":"R-EVDPg6kasFtrTBgFbcDmwT","recipientAccountId":"A-Umw8Q3tevJxaMSekZZUK45","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:47:05 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-EVDPg6kasFtrTBgFbcDmwT","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741225'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-R+thyLz4mCWpDAaEem9Gqkvvnk0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-5Q3xnobay6iJFKzm3DfngY","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:05.578Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:05.578Z","updatedAt":"2023-07-07T14:47:05.578Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-EVDPg6kasFtrTBgFbcDmwT","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:05 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688741225'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '587'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"2305-mpd0E52FuLFaXq/PRezuWFaMl5I"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-5Q3xnobay6iJFKzm3DfngY","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:05.578Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:05.578Z","updatedAt":"2023-07-07T14:47:05.578Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-EVDPg6kasFtrTBgFbcDmwT","syncDetails":null},{"id":"I-2UBBLH53RAcgKeXDXqXfDU","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:02.540Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:02.539Z","updatedAt":"2023-07-07T14:47:03.094Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-5u2cnXr2Gj3t7LKm97NAau","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-83vmrPp4oKHKueHNqGEuHd","syncDetails":null},{"id":"I-6C7BTBRKg9kSRssyRs4NxW","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:00.629Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:00.628Z","updatedAt":"2023-07-07T14:47:00.628Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currenc[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/delete
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-5Q3xnobay6iJFKzm3DfngY","I-2UBBLH53RAcgKeXDXqXfDU","I-6C7BTBRKg9kSRssyRs4NxW","I-Y3B3d1RexwPr8c5AACWzdc","I-KyBtB1G8BMQWBsDkqPcxSx","I-WPxnDpA98RBkfFSuARC9kc","I-AR5CSPdacZ7KFXEVQQj1vy","I-LkR5vNkM9e6cJBZWbcDbbu","I-4kkBfJj4eqkb2LwfqoGcB2","I-CRzRPFRAAuSgQpETFFT2NQ"]}'
    headers:
      X-Pr-Timestamp:
      - '1688741226'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '586'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:47:07 GMT
[...]
