---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"invalid","description":"Integration Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741230'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '579'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"63-kTMZS5lSGTW+69bycA+ETDLodf0"
    body:
      encoding: UTF-8
      string: '{"ok":false,"errors":[{"code":"invalid_field","message":"Value is invalid","field":"recipientId"}]}'
  recorded_at: Fri, 07 Jul 2023 14:47:11 GMT
recorded_with: VCR 6.2.0
