---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch4f6dbdd5-9597-448d-b19e-b38a28f85a69@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688741231'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '578'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"509-AvIl3MKm6dMyuVRw9SplnbApKe8"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-Vtw6C3kaT37TDAfcoAiv8y","referenceId":"R-Vtw6C3kaT37TDAfcoAiv8y","parentRecipientId":null,"email":"test.batch4f6dbdd5-9597-448d-b19e-b38a28f85a69@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:47:11.395Z","createdAt":"2023-07-07T14:47:11.395Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/4c227feb590a6df91146eb8151b09707?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:11 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-Vtw6C3kaT37TDAfcoAiv8y/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688741231'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '577'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"291-XeUgF/eB3zgxSwdtti0IPkNi0RA"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-6waLAf7rJBcUQ7r27CSuqS","recipientId":"R-Vtw6C3kaT37TDAfcoAiv8y","recipientAccountId":"A-6waLAf7rJBcUQ7r27CSuqS","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:47:12 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-Vtw6C3kaT37TDAfcoAiv8y","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741232'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '576'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-rsJIM+tHBTtVVhO4NtZBOUDttK8"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-CV3jAnYeEy5vXYLpH558rQ","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:12.640Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:12.638Z","updatedAt":"2023-07-07T14:47:12.638Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Vtw6C3kaT37TDAfcoAiv8y","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:12 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688741232'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '575'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"13e3-uoA8uRbGkIEsxrMWzJDgiWycn4I"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-CV3jAnYeEy5vXYLpH558rQ","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:12.640Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:12.638Z","updatedAt":"2023-07-07T14:47:12.638Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"l[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/update
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-CV3jAnYeEy5vXYLpH558rQ","description":"Integration
        Test Invoice Update"}'
    headers:
      X-Pr-Timestamp:
      - '1688741233'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '574'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-Ri63xcwkrj2BImcyOwwiXYbMaqE"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-CV3jAnYeEy5vXYLpH558rQ","invoiceNumber":"","description":"Integration
        Test Invoice Update","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:12.640Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:12.638Z","updatedAt":"2023-07-07T14:47:14.365Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Vtw6C3kaT37TDAfcoAiv8y","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:14 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/get
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-CV3jAnYeEy5vXYLpH558rQ"}'
    headers:
      X-Pr-Timestamp:
      - '1688741234'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '573'
      X-Rate-Limit-Reset:
      - '1688741279'
      Etag:
      - W/"246-Ri63xcwkrj2BImcyOwwiXYbMaqE"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-CV3jAnYeEy5vXYLpH558rQ","invoiceNumber":"","description":"Integration
        Test Invoice Update","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:47:12.640Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:47:12.638Z","updatedAt":"2023-07-07T14:47:14.365Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-Vtw6C3kaT37TDAfcoAiv8y","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:47:15 GMT
recorded_with: VCR 6.2.0
