=begin
#Payment Rails API

#No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.30.12

Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class BatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param batch_id B-XXXXXXXXXXXXXXXX
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def get(batch_id, opts = {})
      data, _status_code, _headers = get_with_http_info(batch_id, opts)
      return data
    end

    # 
    # 
    # @param batch_id B-XXXXXXXXXXXXXXXX
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def get_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchApi.get ..."
      end
      # verify the required parameter 'batch_id' is set
      fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchApi.get" if batch_id.nil?
      # resource path
      local_var_path = "/v1/batches/{batchId}".sub('{format}','json').sub('{' + 'batchId' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['merchantKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id P-XXXXXXXXXXXXX
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def start_processing(batch_id, opts = {})
      data, _status_code, _headers = start_processing_with_http_info(batch_id, opts)
      return data
    end

    # 
    # 
    # @param batch_id P-XXXXXXXXXXXXX
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def start_processing_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchApi.start_processing ..."
      end
      # verify the required parameter 'batch_id' is set
      fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchApi.start_processing" if batch_id.nil?
      # resource path
      local_var_path = "/v1/batches/{batchId}/start-processing".sub('{format}','json').sub('{' + 'batchId' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['merchantKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#start_processing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id B-XXXXXXXXXXXXXXXX
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update(batch_id, body, opts = {})
      update_with_http_info(batch_id, body, opts)
      return nil
    end

    # 
    # 
    # @param batch_id B-XXXXXXXXXXXXXXXX
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_with_http_info(batch_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchApi.update ..."
      end
      # verify the required parameter 'batch_id' is set
      fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchApi.update" if batch_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling BatchApi.update" if body.nil?
      # resource path
      local_var_path = "/v1/batches/{batchId}".sub('{format}','json').sub('{' + 'batchId' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['merchantKey']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
