---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1691540952'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1691541008'
      Etag:
      - W/"172-JaNse1YAhgo7+ffGl88EKov5ogI"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-QLTy3oXNvvgDv6Qq8HffrY","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-08-09T00:29:13.051Z","updatedAt":"2023-08-09T00:29:13.051Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Wed, 09 Aug 2023 00:29:13 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchac5ee342-bbb0-4f13-824c-3f5153427e32@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1691540953'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '591'
      X-Rate-Limit-Reset:
      - '1691541008'
      Etag:
      - W/"509-EjzVYuWQ0h9ggEth6L0kNkDUWrU"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-FcUJPGCKq2uEZMopqZvWPe","referenceId":"R-FcUJPGCKq2uEZMopqZvWPe","parentRecipientId":null,"email":"test.batchac5ee342-bbb0-4f13-824c-3f5153427e32@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-08-09T00:29:13.534Z","createdAt":"2023-08-09T00:29:13.534Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/0b0bb043542ee96d633e65e733c4e2a2?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Wed, 09 Aug 2023 00:29:13 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-FcUJPGCKq2uEZMopqZvWPe/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1691540953'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1691541008'
      Etag:
      - W/"291-viqhnojb1uWp/LgD19NDSSMXHc0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-UjbdAw2E4awx3iRDD9fpL6","recipientId":"R-FcUJPGCKq2uEZMopqZvWPe","recipientAccountId":"A-UjbdAw2E4awx3iRDD9fpL6","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Wed, 09 Aug 2023 00:29:14 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/B-QLTy3oXNvvgDv6Qq8HffrY/payments
    body:
      encoding: UTF-8
      string: '{"sourceAmount":"10.00","sourceCurrency":"USD","recipient":{"id":"R-FcUJPGCKq2uEZMopqZvWPe"}}'
    headers:
      X-Pr-Timestamp:
      - '1691540954'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1691541008'
      Etag:
      - W/"137e-mZRjH2x4u2AEkc3KSeedGL6wzYI"
    body:
      encoding: UTF-8
      string: '{"ok":true,"payment":{"id":"P-UuNuGRuC7PwazT5JvTz1St","recipient":{"id":"R-FcUJPGCKq2uEZMopqZvWPe","referenceId":"R-FcUJPGCKq2uEZMopqZvWPe","parentRecipientId":null,"email":"test.batchac5ee342-bbb0-4f13-824c-3f5153427e32@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"active","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-08-09T00:29:14.054Z","createdAt":"2023-08-09T00:29:13.534Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/0b0bb043542ee96d633e65e733c4e2a2?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-UjbdAw2E4awx3iRDD9fpL6","recipientId":"R-FcUJPGCKq2uEZMopqZvWPe","recipientAccountId":"A-UjbdAw2E4awx3iRDD9fpL6","disabledAt":null,"recipientReferenceId":"R-FcUJPGCKq2uEZMopqZvWPe","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}],"payoutMethod":"bank-transfer","primaryCurrency":"EUR","riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null},"status":"pending","isSupplyPayment":false,"coverFees":false,"returnedAmount":"0.00","category":"services","amount":"10.00","currency":"USD","sourceAmount":"10.00","sourceCurrency":"USD","targetAmount":"0.00","targetCurrency":"EUR","taxReportable":true,"taxBasisAmount":"10.00","taxBasisCurrency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","exchangeRate":"0","fees":"4.00","recipientFees":"2.00","fxRate":"2.5","memo":"","externalId":"","processedAt":null,"createdAt":"2023-08-09T00:29:14.716Z","updatedAt":"2023-08-09T00:29:14.716Z","forceUsTaxActivity":false,"batch":{"id":"B-QLTy3oXNvvgDv6Qq8HffrY","status":"open","tags":[],"amount":"12.00","currency":"USD","totalPayments":1,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-08-09T00:29:13.051Z","updatedAt":"2023-08-09T00:29:14.761Z","quoteExpiredAt":null},"checkNumber":null,"tags":[],"merchantFees":"2.00","compliance":{"status":"pending","checkedAt":null},"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-UjbdAw2E4awx3iRDD9fpL6","recipientId":"R-FcUJPGCKq2uEZMopqZvWPe","recipientAccountId":"A-UjbdAw2E4awx3iRDD9fpL6","disabledAt":null,"recipientReferenceId":"R-FcUJPGCKq2uEZMopqZvWPe","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"},"payoutMethod":"bank-transfer","methodDisplay":"Bank
        Transfer","initiatedAt":null,"settledAt":null,"returnedAt":null,"returnedReason":[],"returnedNote":null,"estimatedDeliveryAt":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","taxes":[{"id":"OP-FwoF2W77vD2VfWmqDStykL","recipientId":"R-FcUJPGCKq2uEZMopqZvWPe","taxFormId":null,"entered":{"value":"10.00","currency":"USD"},"withholding":{"value":"0.00","currency":"USD"},"equivalentWithholding":{"value":"0.00","currency":"USD"},"amount":"10.00","currency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","paymentId":"P-UuNuGRuC7PwazT5JvTz1St","externalId":null,"memo":"","payoutMethod":"bank-transfer","tags":[],"taxReportable":true,"category":"services","processedAt":"2023-08-09T00:29:14.634Z","forceUsTaxActivity":false,"taxWithholdingReason":null,"equivalentUntaxedAmount":{"value":"10.00","currency":"USD"},"modifiedSinceCreation":false,"taxPaidByWithholdingAgents":"0","status":"internal","enteredAmount":{"value":"10.00","currency":"USD"},"updatedAt":"2023-08-09T00:29:14.681Z","createdAt":"2023-08-09T00:29:14.634Z","deletedAt":null,"dac7Meta":null}],"errors":[],"routeMinimum":"0","routeType":"sepa"}}'
  recorded_at: Wed, 09 Aug 2023 00:29:14 GMT
- request:
    method: get
    uri: https://api.trolley.com/v1/batches/B-QLTy3oXNvvgDv6Qq8HffrY/payments?page=1&pageSize=10&search=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1691540954'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
[...]
