---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch55042178-3330-47e5-82a2-add7e278e621@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1697087370'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1697087366'
      Etag:
      - W/"509-nbQb9ET138PFNI/kQ1IXkeCyCB8"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-4WSbtdssDfuGfynizNqxKG","referenceId":"R-4WSbtdssDfuGfynizNqxKG","parentRecipientId":null,"email":"test.batch55042178-3330-47e5-82a2-add7e278e621@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-10-12T05:09:25.380Z","createdAt":"2023-10-12T05:09:25.380Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/c5049081a8c53aeacb9e3e844a28d5ea?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Thu, 12 Oct 2023 05:09:31 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-4WSbtdssDfuGfynizNqxKG/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1697087371'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '591'
      X-Rate-Limit-Reset:
      - '1697087366'
      Etag:
      - W/"291-YhSvAeOLwpO0T1AtLBgK692qQgk"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-K53ZEJMwV1ve1hkpnzkfwA","recipientId":"R-4WSbtdssDfuGfynizNqxKG","recipientAccountId":"A-K53ZEJMwV1ve1hkpnzkfwA","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Thu, 12 Oct 2023 05:09:32 GMT
[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-WgjXGvqMt95xJumhTgsYVH/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1697087372'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1697087366'
      Etag:
      - W/"291-CiE019mnctEAyE1s+s6fe12S/v0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-J4smpJGCVwnUt7C459vbnK","recipientId":"R-WgjXGvqMt95xJumhTgsYVH","recipientAccountId":"A-J4smpJGCVwnUt7C459vbnK","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Thu, 12 Oct 2023 05:09:34 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Payments","payments":[{"targetAmount":"10.00","targetCurrency":"EUR","recipient":{"id":"R-4WSbtdssDfuGfynizNqxKG"}},{"sourceAmount":"10.00","recipient":{"id":"R-WgjXGvqMt95xJumhTgsYVH"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1697087374'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1697087369'
      Etag:
      - W/"293f-RMQwWrAsHgQEQicGRjcbSwcPLPQ"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-8wUXnt6wHMhnik3UyCEDbW","status":"open","tags":[],"amount":"26.89","currency":"USD","totalPayments":2,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-10-12T05:09:28.406Z","updatedAt":"2023-10-12T05:09:29.159Z","quoteExpiredAt":"2023-10-12T07:09:28.871Z","payments":{"payments":[{"id":"P-FpzvxRWJJapBRVfKQid5mm","recipient":{"id":"R-WgjXGvqMt95xJumhTgsYVH","referenceId":"R-WgjXGvqMt95xJumhTgsYVH","parentRecipientId":null,"email":"test.batch7407bacd-504c-4613-aae4-d9feca03c667@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"active","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-10-12T05:09:27.954Z","createdAt":"2023-10-12T05:09:26.398Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/9373ae4716a4e67bd17961297deece67?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-J4smpJGCVwnUt7C459vbnK","recipientId":"R-WgjXGvqMt95xJumhTgsYVH","recipientAccountId":"A-J4smpJGCVwnUt7C459vbnK","disabledAt":null,"recipientReferenceId":"R-WgjXGvqMt95xJumhTgsYVH","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}],"payoutMethod":"bank-transfer","primaryCurrency":"EUR","riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null},"status":"pending","isSupplyPayment":false,"coverFees":false,"returnedAmount":"0.00","category":"services","amount":"10.00","currency":"USD","sourceAmount":"10.00","sourceCurrency":"USD","targetAmount":"7.34","targetCurrency":"EUR","taxReportable":true,"taxBasisAmount":"10.00","taxBasisCurrency":"USD","withholdingAmount":"0.00","withholdingAmountOnCreation":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingAmountOnCreation":"0.00","equivalentWithholdingCurrency":"USD","exchangeRate":"0.91804","fees":"4.00","recipientFees":"2.00","fxRate":"2.5","memo":"","externalId":"","processedAt":null,"createdAt":"2023-10-12T05:09:28.467Z","updatedAt":"2023-10-12T05:09:29.148Z","forceUsTaxActivity":false,"batch":{"id":"B-8wUXnt6wHMhnik3UyCEDbW","status":"open","tags":[],"amount":"26.89","currency":"USD","totalPayments":2,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-10-12T05:09:28.406Z","updatedAt":"2023-10-12T05:09:29.159Z","quoteExpiredAt":"2023-10-12T07:09:28.871Z"},"checkNumber":null,"tags":[],"merchantFees":"2.00","compliance":{"status":"pending","checkedAt":null},"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-J4smpJGCVwnUt7C459vbnK","recipientId":"R-WgjXGvqMt95xJumhTgsYVH","recipientAccountId":"A-J4smpJGCVwnUt7C459vbnK","disabledAt":null,"recipientReferenceId":"R-WgjXGvqMt95xJumhTgsYVH","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"},"payoutMethod":"bank-transfer","methodDisplay":"Bank
        Transfer","initiatedAt":null,"settledAt":null,"returnedAt":null,"returnedReason":[],"returnedNote":null,"estimatedDeliveryAt":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","taxes":[{"id":"OP-PW9BwSre19KDyAbAEstec5","recipientId":"R-WgjXGvqMt95xJumhTgsYVH","taxFormId":null,"entered":{"value":"10.00","currency":"USD"},"withholding":{"value":"0.00","currency":"USD"},"equivalentWithholding":{"value":"0.00","currency":"USD"},"amount":"10.00","currency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","paymentId":"P-FpzvxRWJJapBRVfKQid5mm","externalId":null,"memo":"","payoutMethod":"bank-transfer","tags":[],"taxReportable":true,"category":"services","processedAt":"2023-10-12T05:09:28.439Z","forceUsTaxActivity":false,"taxWithholdingReason":null,"equivalentUntaxedAmount":{"value":"10.00","currency":"USD"},"modifiedSinceCreation":false,"taxPaidByWithholdingAgents":"0","status":"internal","enteredAmount":{"value":"10.00","currency":"USD"},"updatedAt":"2023-10-12T05:09:28.550Z","createdAt":"2023-10-12T05:09:28.439Z","deletedAt":null,"dac7Meta":null}],"errors":[],"routeMinimum":"0","routeType":"sepa"},{"id":"P-Tpf3yNWgSCFRwq2XZxGdS8","recipient":{"id":"R-4WSbtdssDfuGfynizNqxKG","referenceId":"R-4WSbtdssDfuGfynizNqxKG","parentRecipientId":null,"email":"test.batch55042178-3330-47e5-82a2-add7e278e621@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"active","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-10-12T05:09:26.011Z"[...]
- request:
    method: get
    uri: https://api.trolley.com/v1/batches/B-8wUXnt6wHMhnik3UyCEDbW/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1697087375'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1697087369'
      Etag:
      - W/"264-vYvDXM+b14s9mQ+obJ8RemR3stc"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batchSummary":{"batchId":"B-8wUXnt6wHMhnik3UyCEDbW","detail":{"bank-transfer":{"count":2,"totalFees":"8.00","merchantFees":"6.00","billedFees":"0.00","debitAmount":"26.89","sendingAmount":"20.89","totalWithheld":"0.00"}},"total":{"count":2,"totalFees":"8.00","merchantFees":"6.00","billedFees":"0.00","debitAmount":"26.89","sendingAmount":"20.89","totalWithheld":"0.00"},"balances":[{"id":"BL-db7d007f42b5704e7f4ab0cff8abe6a3","method":"bank-transfer","bankProvider":"sandbox","currency":"USD","amount":"26.89"}],"accounts":{"BL-db7d007f42b5704e7f4ab0cff8abe6a3":{"value":"26.89","currency":"USD"}}}}'
  recorded_at: Thu, 12 Oct 2023 05:09:35 GMT
recorded_with: VCR 6.2.0
