---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688741004'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '573'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"172-lVLnW4Bmn63hV3NM/DOg2/hzRZE"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-HciRzdAdgB1JXE6bJ6Q82G","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:24.718Z","updatedAt":"2023-07-07T14:43:24.718Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Fri, 07 Jul 2023 14:43:24 GMT
- request:
    method: get
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741004'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '572'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"bd2-nBFVQAqL4Mc1fGoFE/LXptTlSOI"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batches":[{"id":"B-HciRzdAdgB1JXE6bJ6Q82G","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:24.718Z","updatedAt":"2023-07-07T14:43:24.718Z","quoteExpiredAt":null},{"id":"B-7mfvs7TYDW94FCm2FnnUDi","status":"awaiting_approval","tags":[],"amount":"27.16","currency":"USD","totalPayments":2,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,[...]
- request:
    method: patch
    uri: https://api.trolley.com/v1/batches/B-HciRzdAdgB1JXE6bJ6Q82G
    body:
      encoding: UTF-8
      string: '{"description":"Integration Update"}'
    headers:
      X-Pr-Timestamp:
      - '1688741005'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '571'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"12a-h1VHavjiBL0bF/j4cyJYbNQIOV8"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-HciRzdAdgB1JXE6bJ6Q82G","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Update","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:24.718Z","updatedAt":"2023-07-07T14:43:27.116Z","quoteExpiredAt":null}}'
  recorded_at: Fri, 07 Jul 2023 14:43:27 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/B-HciRzdAdgB1JXE6bJ6Q82G
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741007'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '569'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:43:28 GMT
recorded_with: VCR 6.2.0
