---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688740991'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"172-P+aPWSwkQh1GU8onmyDeZGLk2eU"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-EZFr8hHK8djLWmtZnsjiEe","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:12.030Z","updatedAt":"2023-07-07T14:43:12.030Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Fri, 07 Jul 2023 14:43:12 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"ids":["B-EZFr8hHK8djLWmtZnsjiEe","B-FQJjFMk9wnkHp6SrBUzNXV"]}'
    headers:
      X-Pr-Timestamp:
      - '1688740992'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:43:13 GMT
recorded_with: VCR 6.2.0
