---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Payments"}'
    headers:
      X-Pr-Timestamp:
      - '1688740993'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '587'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"174-vBV3SrhaGZhFNsAhjk0q8c+jV+w"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-Pt3X27Gm9XTYaxBfJZMhYg","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:13.721Z","updatedAt":"2023-07-07T14:43:13.721Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Fri, 07 Jul 2023 14:43:13 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch817a160e-e333-4054-af69-df0abd1233b3@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688740993'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '586'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"509-PDXZuSAaAiapqr6O9lz4XdMIOvI"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-J3DquLyvG4WujqFkvJMfbz","referenceId":"R-J3DquLyvG4WujqFkvJMfbz","parentRecipientId":null,"email":"test.batch817a160e-e333-4054-af69-df0abd1233b3@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:43:15.008Z","createdAt":"2023-07-07T14:43:15.008Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/86e6f5f22bf58f2a7e3e6cf209afd074?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:43:15 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-J3DquLyvG4WujqFkvJMfbz/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688740995'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '585'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"291-jnmmR0hxxvYRprN65oYr7ndP1gY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-WM25obYJQkDk63rkG87YLZ","recipientId":"R-J3DquLyvG4WujqFkvJMfbz","recipientAccountId":"A-WM25obYJQkDk63rkG87YLZ","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:43:16 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/B-Pt3X27Gm9XTYaxBfJZMhYg/payments
    body:
      encoding: UTF-8
      string: '{"sourceAmount":"10.00","recipient":{"id":"R-J3DquLyvG4WujqFkvJMfbz"}}'
    headers:
      X-Pr-Timestamp:
      - '1688740996'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '584'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"1380-QLK8GvWts6vUrfewNUM3oCgDKls"
    body:
      encoding: UTF-8
      string: '{"ok":true,"payment":{"id":"P-BGYAYTxjvr1sZs8Fqqc8kW","recipient":{"id":"R-J3DquLyvG4WujqFkvJMfbz","referenceId":"R-J3DquLyvG4WujqFkvJMfbz","parentRecipientId":null,"email":"test.batch817a160e-e333-4054-af69-df0abd1233b3@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"active","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:43:16.283Z","createdAt":"2023-07-07T14:43:15.008Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/86e6f5f22bf58f2a7e3e6cf209afd074?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-WM25obYJQkDk63rkG87YLZ","recipientId":"R-J3DquLyvG4WujqFkvJMfbz","recipientAccountId":"A-WM25obYJQkDk63rkG87YLZ","disabledAt":null,"recipientReferenceId":"R-J3DquLyvG4WujqFkvJMfbz","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}],"payoutMethod":"bank-transfer","primaryCurrency":"EUR","riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null},"status":"pending","isSupplyPayment":false,"coverFees":false,"returnedAmount":"0.00","category":"services","amount":"10.00","currency":"USD","sourceAmount":"10.00","sourceCurrency":"USD","targetAmount":"0.00","targetCurrency":"EUR","taxReportable":true,"taxBasisAmount":"10.00","taxBasisCurrency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","exchangeRate":"0","fees":"4.00","recipientFees":"2.00","fxRate":"2.5","memo":"","externalId":"","processedAt":null,"createdAt":"2023-07-07T14:43:16.788Z","updatedAt":"2023-07-07T14:43:16.788Z","forceUsTaxActivity":false,"batch":{"id":"B-Pt3X27Gm9XTYaxBfJZMhYg","status":"open","tags":[],"amount":"12.00","currency":"USD","totalPayments":1,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-07-07T14:43:13.721Z","updatedAt":"2023-07-07T14:43:16.878Z","quoteExpiredAt":null},"checkNumber":null,"tags":[],"merchantFees":"2.00","compliance":{"status":"pending","checkedAt":null},"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-WM25obYJQkDk63rkG87YLZ","recipientId":"R-J3DquLyvG4WujqFkvJMfbz","recipientAccountId":"A-WM25obYJQkDk63rkG87YLZ","disabledAt":null,"recipientReferenceId":"R-J3DquLyvG4WujqFkvJMfbz","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"},"payoutMethod":"bank-transfer","methodDisplay":"Bank
        Transfer","initiatedAt":null,"settledAt":null,"returnedAt":null,"returnedReason":[],"returnedNote":null,"estimatedDeliveryAt":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","taxes":[{"id":"OP-Rk6sjGTFMWmkwHcwdvQtUT","recipientId":"R-J3DquLyvG4WujqFkvJMfbz","taxFormId":null,"entered":{"value":"10.00","currency":"USD"},"withholding":{"value":"0.00","currency":"USD"},"equivalentWithholding":{"value":"0.00","currency":"USD"},"amount":"10.00","currency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","paymentId":"P-BGYAYTxjvr1sZs8Fqqc8kW","externalId":null,"memo":"","payoutMethod":"bank-transfer","tags":[],"taxReportable":true,"category":"services","processedAt":"2023-07-07T14:43:16.767Z","forceUsTaxActivity":false,"taxWithholdingReason":null,"equivalentUntaxedAmount":{"value":"10.00","currency":"USD"},"modifiedSinceCreation":false,"taxPaidByWithholdingAgents":"0","status":"internal","enteredAmount":{"value":"10.00","currency":"USD"},"updatedAt":"2023-07-07T14:43:16.782Z","createdAt":"2023-07-07T14:43:16.767Z","deletedAt":null,"dac7Meta":null}],"errors":[],"routeMinimum":"0","routeType":"sepa"}}'
  recorded_at: Fri, 07 Jul 2023 14:43:17 GMT
- request:
    method: patch
    uri: https://api.trolley.com/v1/batches/B-Pt3X27Gm9XTYaxBfJZMhYg/payments/P-BGYAYTxjvr1sZs8Fqqc8kW
    body:
      encoding: UTF-8
      string: '{"sourceAmount":"20.00"}'
    headers:
      X-Pr-Timestamp:
      - '1688740997'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Rema[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/B-Pt3X27Gm9XTYaxBfJZMhYg/payments/P-BGYAYTxjvr1sZs8Fqqc8kW
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688740997'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '582'
      X-Rate-Limit-Reset:
      - '1688741046'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:43:18 GMT
recorded_with: VCR 6.2.0
