---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.create349b70bc-35a6-40ef-a708-1d72c6d5be9d@example.com"}'
    headers:
      X-Pr-Timestamp:
      - '1688741565'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '586'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"4ef-/BHfdmLGdFUwWpCqRb4a40VDiiY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-2EjyvsDtuv56CVF7oDwHrw","referenceId":"R-2EjyvsDtuv56CVF7oDwHrw","parentRecipientId":null,"email":"test.create349b70bc-35a6-40ef-a708-1d72c6d5be9d@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:52:45.334Z","createdAt":"2023-07-07T14:52:45.334Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"","street2":"","city":"","postalCode":"","country":null,"region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/33af08c0d9db2976ae50ca70eb379bae?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":null,"routeMinimum":null,"estimatedFees":null,"accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:52:45 GMT
- request:
    method: patch
    uri: https://api.trolley.com/v1/recipients/R-2EjyvsDtuv56CVF7oDwHrw
    body:
      encoding: UTF-8
      string: '{"firstName":"John"}'
    headers:
      X-Pr-Timestamp:
      - '1688741565'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '585'
      X-Rate-L[...]
- request:
    method: get
    uri: https://api.trolley.com/v1/recipients/R-2EjyvsDtuv56CVF7oDwHrw/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741566'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '584'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"809-ycF+rs19XpoTXuU9rwvOVa34kwk"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipientLogs":[{"via":"apikey","ipAddress":"168.232.29.174","userId":"ASC7AsydGC5RTBMF6MH4C5NQ","type":"create","fields":[{"name":"guid","oldValue":null,"newValue":"R-2EjyvsDtuv56CVF7oDwHrw"},{"name":"referenceId","oldValue":null,"newValue":"R-2EjyvsDtuv56CVF7oDwHrw"},{"name":"status","oldValue":null,"newValue":"incomplete"},{"name":"enabledStatus","oldValue":null,"newValue":"enabled"},{"name":"email","oldValue":null,"newValue":"test.create349b70bc-35a6-40ef-a708-1d72c6d5be9d@example.com"},{"name":"name","oldValue":null,"newValue":"Tom
        Jones"},{"name":"firstName","oldValue":null,"newValue":"Tom"},{"name":"lastName","oldValue":null,"newValue":"Jones[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/recipients/R-2EjyvsDtuv56CVF7oDwHrw
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741566'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '583'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:52:46 GMT
recorded_with: VCR 6.2.0
