---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.create50a9ae30-3e12-422d-afb5-cb1ad12b8f36@example.com"}'
    headers:
      X-Pr-Timestamp:
      - '1688741570'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '575'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"4ef-/HAcVDifh0winYlZjGYUzD4Vlfk"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-KoYN6EFnFVBpr6LjQvZiUM","referenceId":"R-KoYN6EFnFVBpr6LjQvZiUM","parentRecipientId":null,"email":"test.create50a9ae30-3e12-422d-afb5-cb1ad12b8f36@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:52:51.142Z","createdAt":"2023-07-07T14:52:51.142Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"","street2":"","city":"","postalCode":"","country":null,"region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/781825e57457fd0b8197c1786678dc05?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":null,"routeMinimum":null,"estimatedFees":null,"accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:52:51 GMT
- request:
    method: patch
    uri: https://api.trolley.com/v1/recipients/R-KoYN6EFnFVBpr6LjQvZiUM
    body:
      encoding: UTF-8
      string: '{"firstName":"Bob"}'
    headers:
      X-Pr-Timestamp:
      - '1688741571'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '574'
      X-Rate-Li[...]
[...]
