---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.create07f52829-4736-47d0-ada8-4885e39786e3@example.com"}'
    headers:
      X-Pr-Timestamp:
      - '1688741562'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '591'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"4ef-LM5+QFfc7FfEHQjerM7yULvfVCc"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-YHLKWXRKs5oiGz6bzmbp4r","referenceId":"R-YHLKWXRKs5oiGz6bzmbp4r","parentRecipientId":null,"email":"test.create07f52829-4736-47d0-ada8-4885e39786e3@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:52:42.863Z","createdAt":"2023-07-07T14:52:42.863Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"","street2":"","city":"","postalCode":"","country":null,"region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/761d5359c30dbb7a2827da16bc845edc?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":null,"routeMinimum":null,"estimatedFees":null,"accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:52:43 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"ids":["R-YHLKWXRKs5oiGz6bzmbp4r","R-U27xuZBFJ8Th3hiHoQ3MXt"]}'
    headers:
      X-Pr-Timestamp:
      - '1688741563'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:52:44 GMT
- request:
    method: get
    uri: https://api.trolley.com/v1/recipients/R-YHLKWXRKs5oiGz6bzmbp4r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741564'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
      X-Rate-Limit-Reset:
      -[...]
- request:
    method: get
    uri: https://api.trolley.com/v1/recipients/R-U27xuZBFJ8Th3hiHoQ3MXt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688741564'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '587'
      X-Rate-Limit-Reset:
      -[...]
