---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.create624e2883-d634-4b73-a83c-3d0708c2caca@example.com"}'
    headers:
      X-Pr-Timestamp:
      - '1688741562'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1688741619'
      Etag:
      - W/"4ef-BNbOBtPZteTxvpiS16nJT1djA7M"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-Up5Cgq3FmANtFcZt3oVH6G","referenceId":"R-Up5Cgq3FmANtFcZt3oVH6G","parentRecipientId":null,"email":"test.create624e2883-d634-4b73-a83c-3d0708c2caca@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:52:42.381Z","createdAt":"2023-07-07T14:52:42.381Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"","street2":"","city":"","postalCode":"","country":null,"region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/19fbda248217ef7dce65e6679a8b0e77?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":null,"routeMinimum":null,"estimatedFees":null,"accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:52:42 GMT
recorded_with: VCR 6.2.0
