---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688621731'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '559'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"172-LU1iAIPvu24itRuPBSlN0T1Gaqw"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-LKkeu71JyiaMSBhBBWm1Kr","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:32.169Z","updatedAt":"2023-07-06T05:35:32.169Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Thu, 06 Jul 2023 05:35:32 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"ids":["B-LKkeu71JyiaMSBhBBWm1Kr","B-2Fb3xQw4hSyUhbJD22bhhw"]}'
    headers:
      X-Pr-Timestamp:
      - '1688621732'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '557'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Thu, 06 Jul 2023 05:35:32 GMT
recorded_with: VCR 6.2.0
