---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Payments"}'
    headers:
      X-Pr-Timestamp:
      - '1688621732'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '556'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"174-OTHkrimM2KVr+iSitJtp5+m0O1c"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-KEKg7rPZDKHzVke59Nhmq3","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:33.381Z","updatedAt":"2023-07-06T05:35:33.381Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Thu, 06 Jul 2023 05:35:33 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch40c78e6e-465d-4a5d-a449-f957de4d5c23@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688621733'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '555'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"509-ui1K8ldIcTJZPgaXexsLTWTT3ek"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-2UbdTSey3m5AbAKQzQmdvj","referenceId":"R-2UbdTSey3m5AbAKQzQmdvj","parentRecipientId":null,"email":"test.batch40c78e6e-465d-4a5d-a449-f957de4d5c23@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-06T05:35:33.789Z","createdAt":"2023-07-06T05:35:33.789Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/80b128ba5849eaf34c7e6af10420079a?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Thu, 06 Jul 2023 05:35:33 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-2UbdTSey3m5AbAKQzQmdvj/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688621733'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '554'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"291-/QR2+j9qpXbTfyanzAcDPF8J/tk"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-AK1HDy5NchmZKddxixiWFn","recipientId":"R-2UbdTSey3m5AbAKQzQmdvj","recipientAccountId":"A-AK1HDy5NchmZKddxixiWFn","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Thu, 06 Jul 2023 05:35:34 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/B-KEKg7rPZDKHzVke59Nhmq3/payments
    body:
      encoding: UTF-8
      string: '{"sourceAmount":"10.00","recipient":{"id":"R-2UbdTSey3m5AbAKQzQmdvj"}}'
    headers:
      X-Pr-Timestamp:
      - '1688621734'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '553'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"1380-7TV0R4ZKuJRmq+O056g3mc/UZYs"
    body:
      encoding: UTF-8
      string: '{"ok":true,"payment":{"id":"P-T2V3ELSWYKV6idV8DkrTYN","recipient":{"id":"R-2UbdTSey3m5AbAKQzQmdvj","referenceId":"R-2UbdTSey3m5AbAKQzQmdvj","parentRecipientId":null,"email":"test.batch40c78e6e-465d-4a5d-a449-f957de4d5c23@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"active","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-06T05:35:34.155Z","createdAt":"2023-07-06T05:35:33.789Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/80b128ba5849eaf34c7e6af10420079a?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-AK1HDy5NchmZKddxixiWFn","recipientId":"R-2UbdTSey3m5AbAKQzQmdvj","recipientAccountId":"A-AK1HDy5NchmZKddxixiWFn","disabledAt":null,"recipientReferenceId":"R-2UbdTSey3m5AbAKQzQmdvj","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}],"payoutMethod":"bank-transfer","primaryCurrency":"EUR","riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null},"status":"pending","isSupplyPayment":false,"coverFees":false,"returnedAmount":"0.00","category":"services","amount":"10.00","currency":"USD","sourceAmount":"10.00","sourceCurrency":"USD","targetAmount":"0.00","targetCurrency":"EUR","taxReportable":true,"taxBasisAmount":"10.00","taxBasisCurrency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","exchangeRate":"0","fees":"4.00","recipientFees":"2.00","fxRate":"2.5","memo":"","externalId":"","processedAt":null,"createdAt":"2023-07-06T05:35:34.558Z","updatedAt":"2023-07-06T05:35:34.558Z","forceUsTaxActivity":false,"batch":{"id":"B-KEKg7rPZDKHzVke59Nhmq3","status":"open","tags":[],"amount":"12.00","currency":"USD","totalPayments":1,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:33.381Z","updatedAt":"2023-07-06T05:35:34.648Z","quoteExpiredAt":null},"checkNumber":null,"tags":[],"merchantFees":"2.00","compliance":{"status":"pending","checkedAt":null},"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-AK1HDy5NchmZKddxixiWFn","recipientId":"R-2UbdTSey3m5AbAKQzQmdvj","recipientAccountId":"A-AK1HDy5NchmZKddxixiWFn","disabledAt":null,"recipientReferenceId":"R-2UbdTSey3m5AbAKQzQmdvj","deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"},"payoutMethod":"bank-transfer","methodDisplay":"Bank
        Transfer","initiatedAt":null,"settledAt":null,"returnedAt":null,"returnedReason":[],"returnedNote":null,"estimatedDeliveryAt":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","taxes":[{"id":"OP-HZbpkfVKWh1vJxhKZU2Np9","recipientId":"R-2UbdTSey3m5AbAKQzQmdvj","taxFormId":null,"entered":{"value":"10.00","currency":"USD"},"withholding":{"value":"0.00","currency":"USD"},"equivalentWithholding":{"value":"0.00","currency":"USD"},"amount":"10.00","currency":"USD","withholdingAmount":"0.00","withholdingCurrency":"USD","equivalentWithholdingAmount":"0.00","equivalentWithholdingCurrency":"USD","paymentId":"P-T2V3ELSWYKV6idV8DkrTYN","externalId":null,"memo":"","payoutMethod":"bank-transfer","tags":[],"taxReportable":true,"category":"services","processedAt":"2023-07-06T05:35:34.537Z","forceUsTaxActivity":false,"taxWithholdingReason":null,"equivalentUntaxedAmount":{"value":"10.00","currency":"USD"},"modifiedSinceCreation":false,"taxPaidByWithholdingAgents":"0","status":"internal","enteredAmount":{"value":"10.00","currency":"USD"},"updatedAt":"2023-07-06T05:35:34.552Z","createdAt":"2023-07-06T05:35:34.537Z","deletedAt":null,"dac7Meta":null}],"errors":[],"routeMinimum":"0","routeType":"sepa"}}'
  recorded_at: Thu, 06 Jul 2023 05:35:34 GMT
- request:
    method: patch
    uri: https://api.trolley.com/v1/batches/B-KEKg7rPZDKHzVke59Nhmq3/payments/P-T2V3ELSWYKV6idV8DkrTYN
    body:
      encoding: UTF-8
      string: '{"sourceAmount":"20.00"}'
    headers:
      X-Pr-Timestamp:
      - '1688621734'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Rema[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/B-KEKg7rPZDKHzVke59Nhmq3/payments/P-T2V3ELSWYKV6idV8DkrTYN
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688621735'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '551'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Thu, 06 Jul 2023 05:35:35 GMT
recorded_with: VCR 6.2.0
