---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688621739'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '542'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"172-r7TStATHgoMuiizext/ao/lBGco"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-KRmxENh4PT4EFfHPb1BNjP","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:40.074Z","updatedAt":"2023-07-06T05:35:40.074Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Thu, 06 Jul 2023 05:35:39 GMT
- request:
    method: get
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688621739'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '541'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"c02-mJEBLpsZrMjfWQB4ZyGMK/l45pY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batches":[{"id":"B-KRmxENh4PT4EFfHPb1BNjP","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:40.074Z","updatedAt":"2023-07-06T05:35:40.074Z","quoteExpiredAt":null},{"id":"B-A599DE7QzjYdZWQftGqUfg","status":"awaiting_approval","tags":[],"amount":"27.13","currency":"USD","totalPayments":2,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,[...]
- request:
    method: patch
    uri: https://api.trolley.com/v1/batches/B-KRmxENh4PT4EFfHPb1BNjP
    body:
      encoding: UTF-8
      string: '{"description":"Integration Update"}'
    headers:
      X-Pr-Timestamp:
      - '1688621740'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '540'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"12a-sjPOiNIabOo+WmAwrfAOZ8WgCYY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-KRmxENh4PT4EFfHPb1BNjP","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Update","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:40.074Z","updatedAt":"2023-07-06T05:35:40.884Z","quoteExpiredAt":null}}'
  recorded_at: Thu, 06 Jul 2023 05:35:40 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/batches/B-KRmxENh4PT4EFfHPb1BNjP
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688621741'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '538'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Thu, 06 Jul 2023 05:35:41 GMT
recorded_with: VCR 6.2.0
