---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: UTF-8
      string: '{"sourceCurrency":"USD","description":"Integration Test Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688621728'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '568'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"172-ifV+Yy7cgjsFufnqdyD+CfEQeGY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batch":{"id":"B-JAz7DDwozCYd3nEyWVF9cV","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:28.601Z","updatedAt":"2023-07-06T05:35:28.601Z","quoteExpiredAt":null,"payments":{"payments":[],"meta":{"page":1,"pages":0,"records":0}}}}'
  recorded_at: Thu, 06 Jul 2023 05:35:28 GMT
- request:
    method: get
    uri: https://api.trolley.com/v1/batches/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688621728'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '567'
      X-Rate-Limit-Reset:
      - '1688621746'
      Etag:
      - W/"c02-BMMpRQL+h9/E8E5GzLwnOm/IC3k"
    body:
      encoding: UTF-8
      string: '{"ok":true,"batches":[{"id":"B-JAz7DDwozCYd3nEyWVF9cV","status":"open","tags":[],"amount":"0.00","currency":"USD","totalPayments":0,"description":"Integration
        Test Create","sentAt":null,"completedAt":null,"createdAt":"2023-07-06T05:35:28.601Z","updatedAt":"2023-07-06T05:35:28.601Z","quoteExpiredAt":null},{"id":"B-CjT3z9AdncbhXQVgzQ6Pga","status":"awaiting_approval","tags":[],"amount":"27.13","currency":"USD","totalPayments":2,"description":"Integration
        Test Payments","sentAt":null,"completedAt":null,[...]
