---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchffb9975e-01d3-4717-83d7-e8f5e8c266da@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739774'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"509-FlYQZHWq3ZAuO3uB46vM8FutJpY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-YMbDjTnfFXd9g3TEwH9we9","referenceId":"R-YMbDjTnfFXd9g3TEwH9we9","parentRecipientId":null,"email":"test.batchffb9975e-01d3-4717-83d7-e8f5e8c266da@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:22:54.535Z","createdAt":"2023-07-07T14:22:54.535Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/44a3c47dbac06080b5f92159db87e52e?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:22:54 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-YMbDjTnfFXd9g3TEwH9we9/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688739774'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"291-YcQqk9WK10WhFMYAJHBrrhs1b/o"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-LAgnqPEtKJZUZ1RZexuxxz","recipientId":"R-YMbDjTnfFXd9g3TEwH9we9","recipientAccountId":"A-LAgnqPEtKJZUZ1RZexuxxz","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:22:55 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-YMbDjTnfFXd9g3TEwH9we9","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688739775'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"246-d7EqHykcQuIh+Ook+1jFfUz/WgE"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-22UgJTvs82eQJMBJeQUynp","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:55.524Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:55.523Z","updatedAt":"2023-07-07T14:22:55.523Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-YMbDjTnfFXd9g3TEwH9we9","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:22:55 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688739775'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '587'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"2767-ZeC8RKTCoGXVRbyo67UcLy+7nVY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-22UgJTvs82eQJMBJeQUynp","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:55.524Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:55.523Z","updatedAt":"2023-07-07T14:22:55.523Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-YMbDjTnfFXd9g3TEwH9we9","syncDetails":null},{"id":"I-9XGuwX3dgjt8r3bLZb4pq4","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:52.910Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:52.909Z","updatedAt":"2023-07-07T14:22:53.397Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-CDBTGA5scDm2ydcoJPuVEn","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-3WS2wwPSPdCaEkajBCAvnd","syncDetails":null},{"id":"I-GtrWVQDyq7G9gCTAHFqYs5","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:50.934Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:50.933Z","updatedAt":"2023-07-07T14:22:50.933Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currenc[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/delete
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-22UgJTvs82eQJMBJeQUynp","I-9XGuwX3dgjt8r3bLZb4pq4","I-GtrWVQDyq7G9gCTAHFqYs5","I-V5hW2uF5Hxk5Jvy399vYqb","I-Uv7dNTKXTtyb6RnjsqQ5WG","I-KMdb5u9HMNQaV9pYfCFa5A","I-SMwKDRvt9fhfxtG6qBWWSR","I-PGzW9cJcGNhiGcWfhTDDmE","I-TmAHWpCLLsMjdkuco8QxzT","I-TKD3Gv2fUpwzgjekjTtCnT"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739776'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '586'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:22:56 GMT
[...]
