---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batchd817bbf5-5d0a-4c2b-a40f-0fa7e5d07231@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739780'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '578'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"509-hGxDSV4XSYVXVVAe6ZVH0JlwwM8"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-BYXWLU8BdiMqPRAq3KdR4A","referenceId":"R-BYXWLU8BdiMqPRAq3KdR4A","parentRecipientId":null,"email":"test.batchd817bbf5-5d0a-4c2b-a40f-0fa7e5d07231@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:23:00.498Z","createdAt":"2023-07-07T14:23:00.498Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/1346870153adb8d72744e808a7bb02c3?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:23:00 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-BYXWLU8BdiMqPRAq3KdR4A/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688739780'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '577'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"291-oFFsMtnVxS2yY+3Yflnf88UTPtw"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-4H1UpZLgTp2rDsBEhYML85","recipientId":"R-BYXWLU8BdiMqPRAq3KdR4A","recipientAccountId":"A-4H1UpZLgTp2rDsBEhYML85","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:23:01 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-BYXWLU8BdiMqPRAq3KdR4A","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688739781'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '576'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"246-p+9u2blbLQ1N0khtbq+yXxdj8PU"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-LkR5vNkM9e6cJBZWbcDbbu","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:23:01.495Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:23:01.494Z","updatedAt":"2023-07-07T14:23:01.494Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-BYXWLU8BdiMqPRAq3KdR4A","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:23:01 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688739781'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '575'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"1835-UGrr1SMqVkZ/qAuWuVEUWG2+S40"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-LkR5vNkM9e6cJBZWbcDbbu","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:23:01.495Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:23:01.494Z","updatedAt":"2023-07-07T14:23:01.494Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"l[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/update
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-LkR5vNkM9e6cJBZWbcDbbu","description":"Integration
        Test Invoice Update"}'
    headers:
      X-Pr-Timestamp:
      - '1688739782'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '574'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"246-Xs/Svcz8nRZOR9vUgaf7Nubm58c"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-LkR5vNkM9e6cJBZWbcDbbu","invoiceNumber":"","description":"Integration
        Test Invoice Update","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:23:01.495Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:23:01.494Z","updatedAt":"2023-07-07T14:23:02.432Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-BYXWLU8BdiMqPRAq3KdR4A","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:23:02 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/get
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-LkR5vNkM9e6cJBZWbcDbbu"}'
    headers:
      X-Pr-Timestamp:
      - '1688739782'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '573'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"246-Xs/Svcz8nRZOR9vUgaf7Nubm58c"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-LkR5vNkM9e6cJBZWbcDbbu","invoiceNumber":"","description":"Integration
        Test Invoice Update","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:23:01.495Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:23:01.494Z","updatedAt":"2023-07-07T14:23:02.432Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-BYXWLU8BdiMqPRAq3KdR4A","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:23:03 GMT
recorded_with: VCR 6.2.0
