---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch90a1da0a-9daa-4a27-9b7d-9586cf70d4e5@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739446'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '583'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"509-GMPae7H+alCIEYrffAJipdgqOIY"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-WDRoiLCnH7Ss3s3XeVdmsX","referenceId":"R-WDRoiLCnH7Ss3s3XeVdmsX","parentRecipientId":null,"email":"test.batch90a1da0a-9daa-4a27-9b7d-9586cf70d4e5@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:17:26.848Z","createdAt":"2023-07-07T14:17:26.848Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/aeb7a333b04dfd5eb1684491876d2c0d?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:17:27 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-WDRoiLCnH7Ss3s3XeVdmsX/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688739447'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '582'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"291-fWFf5iiK3ePZbJ8cxsRdbt2Eksc"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-EkMNvUTXPebCxwPfYuHTGq","recipientId":"R-WDRoiLCnH7Ss3s3XeVdmsX","recipientAccountId":"A-EkMNvUTXPebCxwPfYuHTGq","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:17:27 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-WDRoiLCnH7Ss3s3XeVdmsX","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688739447'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '581'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"246-zPYmePoWXt2iLy4SnFOYSpVV9TM"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:27.978Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:27.975Z","updatedAt":"2023-07-07T14:17:27.975Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-WDRoiLCnH7Ss3s3XeVdmsX","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:17:28 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688739448'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '580'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"2980-XyUE2LWt1CUQaP7g709C67/NREM"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:27.978Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:27.975Z","updatedAt":"2023-07-07T14:17:27.975Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-WDRoiLCnH7Ss3s3XeVdmsX","syncDetails":null},{"id":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:22.980Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:22.980Z","updatedAt":"2023-07-07T14:17:25.766Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-J595efrY2CR1MhdwQymQQz","status":"open","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-4W21UVURtxNt1TQZAMVdJ9","syncDetails":null},{"id":"I-KMdb5u9HMNQaV9pYfCFa5A","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"pending","externalId":null,"invoiceDate":"2023-07-07T14:17:18.812Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:18.812Z","updatedAt":"2023-07-07T14:17:20.054Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"2000.00"[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-V5hW2uF5Hxk5Jvy399vYqb","lines":[{"unitAmount":{"value":"2000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688739448'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '579'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"467-PS1fpB3VdHDx4iuEGGvidT[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/create
    body:
      encoding: UTF-8
      string: '{"ids":[{"invoiceId":"I-V5hW2uF5Hxk5Jvy399vYqb"}]}'
    headers:
      X-Pr-Timestamp:
      - '1688739449'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '578'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"13b-ugp8Qx90CwDtVm3Fnk68Z77ds90"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayment":{"batchId":"B-BqvhcfA7i9u8UkZoyoNMU1","paymentId":"P-XriFmhyJkFpaMM9vt2YiYY","invoicePayments":[{"invoiceId":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceLineId":"IL-SJXqRRuzm3wYJzFkyjJ7tg","paymentId":"P-XriFmhyJkFpaMM9vt2YiYY","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}]}}'
  recorded_at: Fri, 07 Jul 2023 14:17:29 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-V5hW2uF5Hxk5Jvy399vYqb"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739449'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '577'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"104-SxGWvsQLgP+Mc/5GTDgEWAW3Zq4"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[{"invoiceId":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceLineId":"IL-SJXqRRuzm3wYJzFkyjJ7tg","paymentId":"P-XriFmhyJkFpaMM9vt2YiYY","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}],"meta":{"page":1,"pages":1,"records":1}}'
  recorded_at: Fri, 07 Jul 2023 14:17:30 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/update
    body:
      encoding: UTF-8
      string: '{"paymentId":"P-XriFmhyJkFpaMM9vt2YiYY","invoiceLineId":"IL-SJXqRRuzm3wYJzFkyjJ7tg","amount":{"value":"5000","currency":"USD"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739450'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '576'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:17:31 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-V5hW2uF5Hxk5Jvy399vYqb"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739451'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '575'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"104-5mcr52KcQKG2h3qr4pwUndC9ZFA"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[{"invoiceId":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceLineId":"IL-SJXqRRuzm3wYJzFkyjJ7tg","paymentId":"P-XriFmhyJkFpaMM9vt2YiYY","amount":{"value":"5000.00","currency":"USD"},"status":"pending"}],"meta":{"page":1,"pages":1,"records":1}}'
  recorded_at: Fri, 07 Jul 2023 14:17:31 GMT
recorded_with: VCR 6.2.0
