---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch8c032778-907f-42ce-a9fd-0a8413d6224b@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739441'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '592'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"509-tohhx6sz68yMwWnXhLkcWB4p0l0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-4W21UVURtxNt1TQZAMVdJ9","referenceId":"R-4W21UVURtxNt1TQZAMVdJ9","parentRecipientId":null,"email":"test.batch8c032778-907f-42ce-a9fd-0a8413d6224b@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:17:21.852Z","createdAt":"2023-07-07T14:17:21.852Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/49ee774f3be6e8abe2d1633d8a5f4a7a?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:17:21 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-4W21UVURtxNt1TQZAMVdJ9/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688739441'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '591'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"291-2TWOq4c7MavhTkHfzteiKRdy/Ew"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-WUmDuZA9dksM5bTBZsVPsQ","recipientId":"R-4W21UVURtxNt1TQZAMVdJ9","recipientAccountId":"A-WUmDuZA9dksM5bTBZsVPsQ","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:17:22 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-4W21UVURtxNt1TQZAMVdJ9","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688739442'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '590'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"246-3bnWEYr7CUbebdO99oj/3ShigVo"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:22.980Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:22.980Z","updatedAt":"2023-07-07T14:17:22.980Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-4W21UVURtxNt1TQZAMVdJ9","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:17:23 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688739443'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '589'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"275f-cGHmx8IEeqFdWjjH1DUlASfQYJA"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:22.980Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:22.980Z","updatedAt":"2023-07-07T14:17:22.980Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-4W21UVURtxNt1TQZAMVdJ9","syncDetails":null},{"id":"I-KMdb5u9HMNQaV9pYfCFa5A","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"pending","externalId":null,"invoiceDate":"2023-07-07T14:17:18.812Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:18.812Z","updatedAt":"2023-07-07T14:17:20.054Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"0.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-FZTQwJGKUftUx2NPThzqgm","status":"pending","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"0.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"2000.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-Sqog3wHNXPeCt5wX16BLxt","syncDetails":null},{"id":"I-SMwKDRvt9fhfxtG6qBWWSR","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"pending","externalId":null,"invoiceDate":"2023-04-27T05:20:08.609Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-04-27T05:20:08.608Z","updatedAt":"2023-04-27T05:20:09.944Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"2000.00"[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create-lines
    body:
      encoding: UTF-8
      string: '{"invoiceId":"I-Uv7dNTKXTtyb6RnjsqQ5WG","lines":[{"unitAmount":{"value":"2000","currency":"USD"}}]}'
    headers:
      X-Pr-Timestamp:
      - '1688739443'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '588'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"467-1GfPn6kGeoedfWaOUfM1zS[...]
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/create
    body:
      encoding: UTF-8
      string: '{"ids":[{"invoiceId":"I-Uv7dNTKXTtyb6RnjsqQ5WG"}]}'
    headers:
      X-Pr-Timestamp:
      - '1688739444'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '587'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"13b-sDgB9ac3iuLci/Zek4d1y85UrZs"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayment":{"batchId":"B-8AkMne6o6WQmarnZWTLgqW","paymentId":"P-51qUZqcdDn1MAyZGohZJTV","invoicePayments":[{"invoiceId":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceLineId":"IL-J595efrY2CR1MhdwQymQQz","paymentId":"P-51qUZqcdDn1MAyZGohZJTV","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}]}}'
  recorded_at: Fri, 07 Jul 2023 14:17:24 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-Uv7dNTKXTtyb6RnjsqQ5WG"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739444'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '586'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"104-y/tnImsIPRlk6aZRMJqGYPrI/pE"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[{"invoiceId":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceLineId":"IL-J595efrY2CR1MhdwQymQQz","paymentId":"P-51qUZqcdDn1MAyZGohZJTV","amount":{"value":"2000.00","currency":"USD"},"status":"pending"}],"meta":{"page":1,"pages":1,"records":1}}'
  recorded_at: Fri, 07 Jul 2023 14:17:25 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/delete
    body:
      encoding: UTF-8
      string: '{"paymentId":"P-51qUZqcdDn1MAyZGohZJTV","invoiceLineIds":["IL-J595efrY2CR1MhdwQymQQz"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739445'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '585'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:17:25 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/payment/search
    body:
      encoding: UTF-8
      string: '{"invoiceIds":["I-Uv7dNTKXTtyb6RnjsqQ5WG"]}'
    headers:
      X-Pr-Timestamp:
      - '1688739445'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '584'
      X-Rate-Limit-Reset:
      - '1688739497'
      Etag:
      - W/"48-0UbD9BMpHbIoJOwVj0VtNfUQcLc"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoicePayments":[],"meta":{"page":1,"pages":0,"records":0}}'
  recorded_at: Fri, 07 Jul 2023 14:17:26 GMT
recorded_with: VCR 6.2.0
