---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.batch7c127c92-f81b-4342-8244-d7b7756e6f34@example.com","address":{"street1":"123
        Wolfstrasse","city":"Berlin","country":"DE","postalCode":"123123"}}'
    headers:
      X-Pr-Timestamp:
      - '1688739769'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"509-DkSo4V1F86DevhXf/Fw8BqjPLaU"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-FJLWn66tr3qAPMdvZroD57","referenceId":"R-FJLWn66tr3qAPMdvZroD57","parentRecipientId":null,"email":"test.batch7c127c92-f81b-4342-8244-d7b7756e6f34@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:22:49.934Z","createdAt":"2023-07-07T14:22:49.934Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"123
        Wolfstrasse","street2":"","city":"Berlin","postalCode":"123123","country":"DE","region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/e5a0a226d2ad2f7fbb5df7a33404d837?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":"sepa","routeMinimum":"0","estimatedFees":"3","accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:22:50 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-FJLWn66tr3qAPMdvZroD57/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688739770'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"291-ijyKT+gR/H3CBGK5fcwbVf2drOM"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-SwYVvjvvaPk4ii31VhwN2P","recipientId":"R-FJLWn66tr3qAPMdvZroD57","recipientAccountId":"A-SwYVvjvvaPk4ii31VhwN2P","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:22:50 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/create
    body:
      encoding: UTF-8
      string: '{"recipientId":"R-FJLWn66tr3qAPMdvZroD57","description":"Integration
        Test Invoice Create"}'
    headers:
      X-Pr-Timestamp:
      - '1688739770'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"246-Z/gVltyOFTMn7faPKAyBO5qjPw0"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoice":{"id":"I-GtrWVQDyq7G9gCTAHFqYs5","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:50.934Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:50.933Z","updatedAt":"2023-07-07T14:22:50.933Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-FJLWn66tr3qAPMdvZroD57","syncDetails":null}}'
  recorded_at: Fri, 07 Jul 2023 14:22:51 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/invoices/search
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Pr-Timestamp:
      - '1688739771'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '596'
      X-Rate-Limit-Reset:
      - '1688739829'
      Etag:
      - W/"298e-8dTz0NaXyD9HWmTXlmMxWL5iV18"
    body:
      encoding: UTF-8
      string: '{"ok":true,"invoices":[{"id":"I-GtrWVQDyq7G9gCTAHFqYs5","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:22:50.934Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:22:50.933Z","updatedAt":"2023-07-07T14:22:50.933Z","totalAmount":{"value":"0.00","currency":"CAD"},"paidAmount":{"value":"0.00","currency":"CAD"},"pendingAmount":{"value":"0.00","currency":"CAD"},"dueAmount":{"value":"0.00","currency":"CAD"},"tags":[],"lines":[],"recipientId":"R-FJLWn66tr3qAPMdvZroD57","syncDetails":null},{"id":"I-V5hW2uF5Hxk5Jvy399vYqb","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"pending","externalId":null,"invoiceDate":"2023-07-07T14:17:27.978Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:27.975Z","updatedAt":"2023-07-07T14:17:30.791Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"5000.00","currency":"USD"},"dueAmount":{"value":"-3000.00","currency":"USD"},"tags":[],"lines":[{"id":"IL-SJXqRRuzm3wYJzFkyjJ7tg","status":"pending","itemUrl":null,"description":"","unitAmount":{"value":"2000.00","currency":"USD"},"quantity":"1","discountAmount":{"value":"0.00","currency":"USD"},"taxAmount":{"value":"0.00","currency":"USD"},"totalAmount":{"value":"2000.00","currency":"USD"},"dueAmount":{"value":"-3000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"5000.00","currency":"USD"},"externalId":null,"taxReportable":true,"tags":[],"category":"services","forceUsTaxActivity":false}],"recipientId":"R-WDRoiLCnH7Ss3s3XeVdmsX","syncDetails":null},{"id":"I-Uv7dNTKXTtyb6RnjsqQ5WG","invoiceNumber":"","description":"Integration
        Test Invoice Create","status":"open","externalId":null,"invoiceDate":"2023-07-07T14:17:22.980Z","dueDate":null,"releaseAfter":null,"createdAt":"2023-07-07T14:17:22.980Z","updatedAt":"2023-07-07T14:17:25.766Z","totalAmount":{"value":"2000.00","currency":"USD"},"paidAmount":{"value":"0.00","currency":"USD"},"pendingAmount":{"value":"0.00","curr[...]
