---
http_interactions:
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/
    body:
      encoding: UTF-8
      string: '{"type":"individual","firstName":"Tom","lastName":"Jones","email":"test.create0d099a65-ea79-4227-b59a-f0a3117e8fed@example.com"}'
    headers:
      X-Pr-Timestamp:
      - '1688740017'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1688740078'
      Etag:
      - W/"4ef-gARTFwHm16iQtV2ign2iBEvF6Yc"
    body:
      encoding: UTF-8
      string: '{"ok":true,"recipient":{"id":"R-CtyWGDSCD97PYfoaGP4BJW","referenceId":"R-CtyWGDSCD97PYfoaGP4BJW","parentRecipientId":null,"email":"test.create0d099a65-ea79-4227-b59a-f0a3117e8fed@example.com","name":"Tom
        Jones","lastName":"Jones","firstName":"Tom","legalName":"","type":"individual","status":"incomplete","language":"en","complianceStatus":"pending","dob":null,"passport":"","placeOfBirth":null,"updatedAt":"2023-07-07T14:26:58.044Z","createdAt":"2023-07-07T14:26:58.044Z","tags":[],"isPortalUser":false,"taxDeliveryType":"mail","contactEmails":[],"occupation":"","address":{"street1":"","street2":"","city":"","postalCode":"","country":null,"region":null,"phone":"","phoneValidated":false},"compliance":{"status":"pending","checkedAt":null},"gravatarUrl":"https://www.gravatar.com/avatar/003103a787e845a8a946ce765e860534?d=404","governmentId":null,"ssn":null,"governmentIds":[],"birthplace":{"country":null,"region":null,"city":null},"citizenships":[],"routeType":null,"routeMinimum":null,"estimatedFees":null,"accounts":[],"payoutMethod":null,"primaryCurrency":null,"riskScore":null,"riskScoreLabel":null,"merchantId":"M-C7AsydAeAqW3husDNHSAND","inactiveReasons":{"primaryAccount":"missing"},"taxWithholdingPercentage":null,"taxForm":null,"taxFormStatus":null}}'
  recorded_at: Fri, 07 Jul 2023 14:26:58 GMT
- request:
    method: post
    uri: https://api.trolley.com/v1/recipients/R-CtyWGDSCD97PYfoaGP4BJW/accounts
    body:
      encoding: UTF-8
      string: '{"type":"bank-transfer","currency":"EUR","country":"DE","iban":"DE89
        3704 0044 0532 0130 00"}'
    headers:
      X-Pr-Timestamp:
      - '1688740018'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1688740078'
      Etag:
      - W/"291-FhE+8aTIdwBwmXaMEQEWo+Fg4ig"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-BawoXz1hwCCEccbtVDcacH","recipientId":"R-CtyWGDSCD97PYfoaGP4BJW","recipientAccountId":"A-BawoXz1hwCCEccbtVDcacH","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:26:58 GMT
- request:
    method: patch
    uri: https://api.trolley.com/v1/recipients/R-CtyWGDSCD97PYfoaGP4BJW/accounts/A-BawoXz1hwCCEccbtVDcacH
    body:
      encoding: UTF-8
      string: '{"primary":true}'
    headers:
      X-Pr-Timestamp:
      - '1688740018'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1688740078'
      Etag:
      - W/"291-FhE+8aTIdwBwmXaMEQEWo+Fg4ig"
    body:
      encoding: UTF-8
      string: '{"ok":true,"account":{"status":"primary","type":"bank-transfer","primary":true,"currency":"EUR","id":"A-BawoXz1hwCCEccbtVDcacH","recipientId":"R-CtyWGDSCD97PYfoaGP4BJW","recipientAccountId":"A-BawoXz1hwCCEccbtVDcacH","disabledAt":null,"deliveryBusinessDaysEstimate":5,"country":"DE","iban":"********************00","accountNum":"","bankAccountType":null,"bankCodeMappingId":null,"accountHolderName":"Tom
        Jones","swiftBic":"COBADEFFXXX","branchId":"","bankId":"","bankName":"Commerzbank
        AG","bankAddress":"Unter Sachsenhausen 21-27","bankCity":"Cologne","bankRegionCode":"Nordrhein-Westfalen","bankPostalCode":"50667","routeType":"sepa","recipientFees":"2"}}'
  recorded_at: Fri, 07 Jul 2023 14:26:59 GMT
[...]
- request:
    method: delete
    uri: https://api.trolley.com/v1/recipients/R-CtyWGDSCD97PYfoaGP4BJW/accounts/A-BawoXz1hwCCEccbtVDcacH
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Pr-Timestamp:
      - '1688740019'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '595'
      X-Rate-Limit-Reset:
      - '1688740078'
      Etag:
      - W/"b-Ai2R8hgEarLmHKwesT1qcY913ys"
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Fri, 07 Jul 2023 14:27:00 GMT
recorded_with: VCR 6.2.0
